---
layout: page
refactor: true
---

<style>
  #projects #post-list div .post-preview::before {
    content: none;
  }
  #projects h5, #projects .content {
    margin-top: 0 !important;
  }
  #projects a {
    text-decoration: none;
    border-bottom: none;
  }
  #post-list .row+.row {
    margin-top: 1.5rem;
  }
</style>
<div id="projects">
  <div id="post-list" class="container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card-wrapper card post-preview h-100">
          <div class="card-body">
            <h5 class="card-title">Ферма на RaspberryPi</h5>
            <p class="card-text content">Проектирую и создаю ферму по аналогии с настоящими стойками датацентра.</p>
          </div>
          <div class="card-footer">
            <a href="/" class="text-muted card-link">Концепт <i class="fa fa-up-right-from-square fa-xs"></i></a>
            <a href="/categories/rp4-farm/" class="text-muted card-link">Серия постов <i class="fa fa-up-right-from-square fa-xs"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card-wrapper card post-preview h-100">
          <div class="card-body">
            <h5 class="card-title">Библиотека Java 22+ FFM API</h5>
            <p class="card-text content">Пишу библиотеку, которая упрощает работу с нативным кодом в современных версиях Java.</p>
          </div>
          <div class="card-footer">
            <a href="https://github.com/DigitalSmile/native-memory-processor" class="text-muted card-link">Код на гитхабе <i class="fa fa-up-right-from-square fa-xs"></i></a>
            <a href="https://github.com/DigitalSmile/gpio" class="text-muted card-link">Пример применения <i class="fa fa-up-right-from-square fa-xs"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card-wrapper card post-preview h-100">
          <div class="card-body">
            <h5 class="card-title">Публичные выступления</h5>
            <p class="card-text content">Пытаюсь стать хорошим публичным спикером по работе и вне ее.</p>
          </div>
          <div class="card-footer">
            <a href="/speaking/" class="text-muted card-link">Выступления <i class="fa fa-up-right-from-square fa-xs"></i></a>
            <a href="/categories/public-speaking/" class="text-muted card-link">Мои заметки <i class="fa fa-up-right-from-square fa-xs"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
